layout: default.liquid
---

<div class="profile">
    <div class="profile-content">
        <p>
        Hi, I'm a software engineer in Manchester, UK. I
        previously studied Computer Science at Durham University. 
        </p>

        <p>
            For my own projects I usually code in Rust but I have experience with other languages
            such as Java, Python, C, C# and Javascript. I have also done some frontend design and CSS. I
            usually open source my code on my <a href="https://www.github.com/mattyhall">github</a>.
        </p>

        <div class="links">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:matthew@quickbeam.me.uk">matthew@quickbeam.me.uk</a>

            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://www.github.com/mattyhall">mattyhall</a>

            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="https://www.twitter.com/heartofthebone">heartofthebone</a>
        </div>
    </div>
</div>
