<div class="navbar">
    <img src="static/pics/profile.png" width="150">
    <div class="navbar-text">
        <h1>Matthew Hall</h1>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/blog.html">Blog</a></li>
        </ul>
    </div>
</div>
<div class="rule"></div>
