body {
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    line-height: 24px;
}

h1 {
    color: #333;
    line-height: 38px;
}

.container {
    margin-top: 1em;
    flex: 0 1 1000px;
    display: flex;
    flex-direction: column;
}

.navbar img {
    float: left;
}

.navbar-text {
    display: inline;
    margin-left: 2em;
    float: left;
    margin-top: 30px;
}

.nav {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 1em;
}

.nav a {
    color: #444;
    text-decoration: none;
}

.rule {
    clear: both;
    padding-top: 1em;
    border-bottom: 1px solid #999;
}

.profile-content {
    padding-top: 0.7em;
    clear: both;
    font-size: 18px;
}

a {
    color: #597ecf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.links {
    margin-top: 1.5em;
}

.links i {
    color: #597ecf;
}

.links a {
    margin-right: 1em;
}

.content {
    flex: 1 1;
    padding-top: 0.7em;
}

.navbar {
    flex: 0 0;
}

pre {
    overflow-x: auto;
    min-width: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.post-title {
    margin-bottom: 0.2em;
}

.date {
    margin-top: 0;
    color: #999;
}

html, body, div, span,  object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, main, nav, ins {
    min-width: 0;
}
