body {
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-around;
}

.profile {
    flex: 0 1 600px;
}

.profile-title {
    margin-top: 1em;
}


.profile-title img {
    float: left;
}

.profile-title-text {
    display: inline;
    margin-left: 2em;
    float: left;
    margin-top: 30px;
}

.profile-nav {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.profile-nav li {
    display: inline-block;
    margin-right: 1em;
}

.profile-nav a {
    color: #444;
    text-decoration: none;
}

.profile .rule {
    clear: both;
    padding-top: 1em;
    border-bottom: 1px solid #999;
}

.profile-content {
    padding-top: 0.7em;
    clear: both;
    font-size: 18px;
}

a {
    color: #597ecf;
}

.links {
    margin-top: 1.5em;
}

.links a {
    text-decoration: none;
    margin-right: 1em;
}