<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.collection == "posts" %}
          <title>{{ page.title }}</title>
        {% else %}
       	  <title>Matthew Hall</title>
        {% endif %}
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src="https://use.fontawesome.com/b81c905ed1.js"></script>
    </head>
    <body>
        <div class="container">
          {% include 'navbar.liquid' %}
          {% if page.collection == "posts" %}
            {% include 'post.liquid' %}
          {% else %}
            {{ page.content }}
          {% endif %}
        </div>
    </body>
</html>
